<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto"><p id="notice"></p>
      <h1>ジャンル一覧・追加</h1>
      <table>
        <%= form_with model: @genre,url: admin_genres_path, local:true do |f| %>
        <tr>
          <div class="form-group">
            <label for="name">ジャンル名</label>
            <%= f.text_field :name, class:"form-control name" %>
          </div>

          <div class="form-group">
            <%= f.submit "新規登録", class:"btn btn-secondary" %>
          </div>
        </tr>
        <% end %>
        <thead>
          <tr>
            <th>ジャンル</th>
            <th colspan="3"></th>
          </tr>
    　   </thead>
    　   <tbody>
    　     <% @genres.each do |genre| %>
    　     <tr class="genre-box">
            <td><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-sm btn-success" %></td>
          </tr>
          <% end %>
         </tbody>
       </table>
      </div>
   </div>
 </div>
