<div class = "container">
<h1>注文履歴一覧</h1>

 <table class = "table ">
    <thead>
        <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>

        </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr class="box">
            <td><%= link_to admin_order_path(order.id) do %>
            <%= order.created_at.strftime("%Y-%m-%d %H:%M") %><% end %></td>
            <td><%= order.name %></td>
            <td>
              <% order.order_details.each do |order_detail|%>
              <%= order_detail.item.name %>
              <%= order_detail.amount %>
              <% end %>
            </td>
            <td><%= order.status_i18n %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @orders, theme: 'twitter-bootstrap-4' %>
 </div>