
  <div class="container">
    <div class="row">
      <h1>注文履歴一覧</h1>
      <table class = "table table-bordered">
      <thead>
        <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払い金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>

         </tr>
      </thead>
      <tbody>

      <% @orders.each do |order| %>
        <tr class="cart_item-box">
            <td><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= order.full_address %><br><%= order.name %></td>
            <td>
              <% order.order_details.each do |order_detail| %>
              <p><%= order_detail.item.name %></p>
              <% end %>
            </td>

            <td>
              <%= order.total_payment + order.postage %>円
            </td>
            <td><%= order.status_i18n %></td>
            <td><%= link_to "表示する", order_path(order.id), class:"btn btn-sm btn-success" %></td>
        </tr>
      <% end %>
      </tbody>
      </table>

      </div>
   </div>
 </div>